
.contacts__section {
	background-color: #ddedf6;
}
.address {
	@include flex2(flex, column, flex-start);
	margin-top: 50px;
}
.contacts__address {
	@include font(600, 18px, 1.5, null);
	color: $textColor;
	margin-bottom: 30px;
}
.work__time {
	@include font(500, 18px, 1.5, null);
	color: $textColor;
	margin-bottom: 10px;
}
.free__time {
	@include font(600, 18px, 1.5, null);
	color: $accent-color;
	margin-bottom: 30px;
}

.contacts__tel {
	margin-bottom: 30px;
}
.contact__tel {
	@include flex(flex, center, center, 10px);
	@include font(600, 18px, 1.5, null);
	color: $accent-color;
}

.social__list {
	display: flex;
	gap: 100px;
	cursor: pointer;
}
.social__item {
	display: flex;
	align-items: center;
}
.social__icon {
	display: block;
	cursor: pointer;
}

.icon__facebook {
	display: block;
	width: 50px;
	height: 150px;
}
