@media screen and (min-width: 320px) {
    .television {
    background-image: url("../../image/фон.png");
    background-color: #66BDDD;
    width: 100%;
}
.television__inner  {
    display: block;
    
}
.television__description {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 130px 0px;
    position: relative;
    text-align: center;
    align-items:center;
    justify-content: center;
}
.television__title {
    position: relative;
    font-family: "Roboto";
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: $white-color;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}
.television__span {
    color:$white-color;
    font-size: 40px;
    font-weight: 900;

}
.television__list {
    position: relative;
    display: none;
}
.television__button {
        display: inline-block;
        padding: 12px 30px;
        @include font(600, 16px, 1.5, null);
        text-align: center;
        background-color: #d9d9d9;
        box-shadow: 0px 6px 4px 0px rgba(201, 185, 185, 0.25);
        color: #635959;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 200px;
    }

    .button:hover,
    .button:focus {
        background-color: #104eab;
        color: #fff;
        box-shadow: none;
        transform: scale(1.05);
    }


.television__item {
    color: rgb(251, 251, 251);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.08em;
}
.television__wrap-img {
    position: relative;
    display: none;
}
.television__text {
    position: relative;
    bottom: 100px;
    right: -150px;
    color: $white-color;
    font-size: 25px;
}
}
@media screen and (min-width: 768px) {
    .television__inner {
        display: flex;
    }
   
        .internet-connection__description {
            flex-direction: column;
    }
    .television__wrap-img {
        display: block; 
max-width: 400px;
        top:145px;
    }
    .television__text {
        bottom: -70px;
        right: -160px;
        font-size: 17px;
    }
    .television__description {
        padding: 130px 0px 130px 0px;
        text-align: left;
    }
   
}
@media screen and (min-width: 1200px) {
    .television__wrap-img { 
        max-width: 700px;
        top:50px;
        justify-content: start;
            }
            .television__text {
                bottom: 100px;
                right: -150px;
                font-size: 25px;
            }
            .television__description {
                padding: 100px 0px 130px 0px;
             
            }
            .television__list {
                display: flex;
            }
}
