@media screen and (min-width: 320px) {
    .container {
        width: 100%;
        max-width: 540px;
        padding: 0px 20px;
        font-family: "Montserrat";
    }
    .section {
        padding: 70px 0px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
