.section__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #061e7d;
    text-align: center;
    margin-bottom: 10px;
}
.section__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #061e7d;
    text-align: center;
    margin-bottom: 50px;
}
.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
