$accent-color: #061e7d;
$second-color: #a422a7;
$white-color: #fff;
$card-button-color: #2c4da1;
$card-decoration-color: #00a5ea;
$background-color: #e2e5e8;
$textColor: #1a1616;
$titleFontH2: 32px;
$titleFont: 18px;
$text-font-size: 16px;
$transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
