@media screen and (min-width: 480px) {
    .hero {
        position: relative;
        background-color: #66BDDD;
        background-image: url("../../image/фон.png");
        overflow: hidden;
        width: 100%;
        flex:1;
        margin: 0 auto;
        background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    }
    .hero__content {
     display:block;
    }
    .hero__description {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 100px 0px;

    }
    .hero__title {
        @include font(700, 45px, null, null);
        color: $white-color;
       }
    .hero-title__sub {
        @include font(700,30px, 1.5, null);
        color: $white-color;
        margin-bottom: 15px;
    }
    .hero__text {
        @include font(500, 22px, 1.5, null);
        color: #fff;
        margin-bottom: 50px;
    }
    .hero__buttons {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .button {
        display: inline-block;
        padding: 12px 30px;
        @include font(600, 16px, 1.5, null);
        text-align: center;
        background-color: #d9d9d9;
        box-shadow: 0px 6px 4px 0px rgba(201, 185, 185, 0.25);
        color: #635959;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover,
    .button:focus {
        background-color: #104eab;
        color: #fff;
        box-shadow: none;
        transform: scale(1.05);
    }
    .hero__wrap-img {
        display: none;
    }
    .hero__img {
        max-width: 400px;
    }
    .section {
        padding: 70px 0px;
    }
}
@media screen and (min-width: 768px) {
    .hero__content {
        display: flex;
       }
    .hero__description {
      text-align: left;
    }
     .hero__buttons {
        display: flex;
        gap: 30px;
        justify-content:flex-start;
    }
    .hero__wrap-img {
        display: block;
    }
    .hero__img {
        max-width: 400px;
    }
  
    .ellipse3 {
        top: -500px;
        right: -600px;
        display: block;
    }
    .svg__icon1 {
        left: -100px;
        top: 60px;
    }
    .svg__icon2 {
        right: -100px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__img {
        max-width: 600px;
    }
  
    .hero__buttons {
     justify-content:flex-start;
    }  
    .hero__description {
        padding: 200px 0px 100px 20px;

    }
    
}
